---
import Button from '../components/Button.astro';
import Layout from '../components/Layout.astro';
---
<Layout title="Blog">
	<div class="flex items-center flex-col justify-evenly h-56">
		<span class="text-5xl font-extrabold">Oops, no content yet.</span>
		<Button />
	</div>
</Layout>
