---
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Prusakova</title>
	</head>
	<body class="bg-gray">
		<main class="flex w-full flex-col min-h-screen items-center justify-center">
			<div class="flex gap-6 items-end">
				<img class="w-56 h-56" src="/logo.svg" alt="logo" />
				<div class="h-full flex flex-col gap-8">
					<a class="uppercase font-extrabold text-5xl cursor-pointer">
						<span>About me</span>
					</a>
					<a class="uppercase font-extrabold text-5xl cursor-pointer">
						<span>Blog</span>
					</a>
					<a class="uppercase font-extrabold text-5xl cursor-pointer">
						<span>Projects</span>
					</a>
				</div>
			</div>
			<Footer />
		</main>
	</body>
</html>
