---

---

<div class="w-full flex flex-row items-center justify-evenly my-10">
    <div class="border-[1px] rounded-[50%] cursor-pointer hover:bg-accent"> 
        <a href="https://www.linkedin.com/in/hanna-prusakova/" target="_blank">
            <img class="w-12 h-12 p-3"src="/socials/linkedin.png" alt="linkedin"/>
        </a>
    </div>
    <div class="border-[1px] rounded-[50%] cursor-pointer hover:bg-accent">
        <a href="https://github.com/annaprusakova" target="_blank">
            <img class="w-12 h-12 p-3" src="/socials/github.png" alt="github"/>
        </a>
    </div>
    <div class="border-[1px] rounded-[50%] cursor-pointer hover:bg-accent">
        <a href="mailto:email@example.com">
            <img class="w-12 h-12 p-3" src="/socials/mail.png" alt="mail"/>
        </a>
    </div>
</div>